<% provide(:title, "Quiz") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
  </head>
  <body>
	  <h1>Here's the quiz!</h1>
	  <p>What is <%= @question.num1 %> x <%= @question.num2 %></p>
	  <%= form_tag( { controller: "questions", action: "update", id: @question.id }, method: "put") do %>
	    <%= label_tag(:answer, "Answer:") %>
	    <%= text_field_tag(:answer) %>
	    <%= submit_tag("Submit") %>
	  <% end %>
  </body>
</html>