<% provide(:title, "Quiz") %>
<body>
  <h1>Here's the quiz!</h1>
  	<p id="question_number">Question <%= @quiz.unanswered_questions + 1 %> / <%= @quiz.question_total %></p>
  	<p id="ask_question">What is <strong><%= @question.num1 %> x <%= @question.num2 %></strong>?</p>
  	<p id="answer_box">
		<%= form_tag( { controller: "questions", action: "update", id: @question.id }, method: "put") do %>
	    <%= label_tag(:answer, "Answer:") %>
	    <%= text_field_tag(:answer) %>
	    <%= submit_tag("Submit", class: "btn btn-sm btn-primary") %>
	  <% end %></p>
</body>